* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  height: 98vh;
  background: linear-gradient(145deg, #1a1f1a, #2d4d2d);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.calculator_title,
.timer_title,
.stopwatch_title {
  font-size: 50px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(145deg, #000000, #2d4d2d, #5aa55a);
  background-clip: text;
}

.calculator,
.stopwatch,
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator_case,
.stopwatch_case,
.timer_case {
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background: linear-gradient(145deg, #1a1f1a, #2d4d2d);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.calculator_display {
  display: flex;
  align-items: end;
  justify-content: end;
  width: auto;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.keyboard,
.stopwatch_buttons {
  display: flex;
  column-gap: 10px;
}

.other_button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.symbol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

button {
  width: 80px;
  height: 70px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.3s;
}

.set_timer_button {
  background-color: coral;
}

.set_timer_button:hover {
  background-color: rgb(138, 48, 16);
}

.stopwatch_button {
  width: 100%;
}

.clear_button,
.clear_entry_button,
.stopwatch_reset_button,
.timer_reset_button {
  background-color: red;
}

.clear_entry_button:hover,
.clear_button:hover,
.stopwatch_reset_button:hover,
.timer_reset_button:hover {
  background-color: brown;
}

.symbol_button,
.stopwatch_pause_button,
.timer_pause_button {
  background-color: rgb(255, 140, 0);
}

.symbol_button:hover,
.stopwatch_pause_button:hover,
.timer_pause_button:hover {
  background-color: rgb(174, 97, 2);
}

.equals_button,
.stopwatch_start_button,
.timer_start_button {
  background-color: seagreen;
}

.equals_button:hover,
.stopwatch_start_button:hover,
.timer_start_button:hover {
  background-color: rgb(8, 96, 45);
}

.stopwatch_display,
.timer_display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  column-gap: 10px;
  font-size: 50px;
}

.timer_display {
  column-gap: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5) inset;
}

.stopwatch_hours,
.stopwatch_minutes,
.stopwatch_milliseconds,
.stopwatch_seconds {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 20px;
}

input {
  width: 70px;
  height: 70px;
  padding: 10px;
  padding-left: 21px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  outline: none;
}

input::placeholder {
  font-size: 20px;
}

input:focus {
  border: 1px solid;
  border-color: seagreen;
}

.timer_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.set_timer_button {
  width: auto;
  grid-column: 1 / span 3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
